* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: #a8a8a8;
}
.parrafoBuscar{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
}
.header {
  width: 100%;
  height: 80px;
}
.navbar {
  z-index: 2;
}
.nav1 {
  width: 100%;
  height: 80px;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 1fr;
 
}
.nav__divcont {
  padding: 10px;
  margin: auto 10px;
}
.nav__log--img {
  width: 90px;
  height: 80px;
  margin-left: 20px;
  background-color: none;
  padding: 5px;
}
.nav__divcont__ul {
  display: flex;
  justify-content: space-around;
}
.nav__divcont__ul__li {
  display: flex;
  text-align: center;
  margin: auto;
}
.nav__ul__li--home {
  margin: auto;
}
.nav__ul__li--a {
  margin: auto;
  padding: 6px;
  color: #fff;
  font-size: 20px;
}

.nav__button {
  margin: auto;
  display: flex;
}

.nav__button--input {
  height: 30px;
  padding: 3px;
  border: none;
  background-color: #0c0b0b !important;
  color: #fff !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  border-bottom: 1px solid #fff;
  margin-right: 20px;
}

.nav__divcont__ul__li {
  list-style: none;
}
.nav__ul__li--a {
  text-decoration: none;
}

.button__cart {
  background: none;
  border: none;
}
.nav__svg:hover {
  opacity: 70%;
}
.button__cart:active {
  opacity: 80%;
}

/*Fin del header*/

/*Commienzo del main*/

/*Inicio titulo*/
.main {
  width: 100%;
  height: 100%;
  display: grid;
}

.main__title {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #33ff80;
  width: 100%;
  height: 270px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.main__title__fondo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 270px;
  background-color: #313030;
}
.main__title--fondo {
  width: 100%;
  height: 270px;
  object-fit: cover;
  opacity: 80%;
}
.main__tittle {
  color: #fff;
  font-size: 38px;
  margin: 40px auto 0 auto;
}
.main__subtitle {
  color: #fff;
  font-size: 27px;
  margin: 20px auto 100px auto;
}

/*INICIO DE LA MUESTRA DE PRODUCTO*/

.contenedor-article {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: auto !important;
  margin-bottom: 50px !important;
}

.img-tamaño {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: auto;
}

.col-lg-3 {
  margin-bottom: 10px;
}
.card {
  width: 500px;
  margin: auto;
}

.button--card {
  display: block;
  width: 80px;
  height: 40px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  background-color: #175e17;
  color: #fff;
  border-radius: 4px;
  border: none;
}
.button--card:active {
  opacity: 90%;
}
.button--card:hover {
  background-color: #178017;
}
.button--card > b {
  display: block;
  margin: auto;
}
.card--text {
  font-size: 18px;
}

.card--title {
  font-size: 25px;
  color: #313030;
}

/*INICIO DEL CARRITO */

.conteiner__cart {
  width: 100%;
  margin: auto;
}

.eliminar__cart {
  width: 10px;
  background-color: #175e17;
  border: none;
  color: #fff;
  padding: 5px;
  font-size: 17px;
  position: absolute;
  margin-left: 138px;
}
.conteiner__cart--caract {
  background-color: #175e17;
  color: #fff;
  justify-items: center;
  padding: 5px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 1px;
  align-items: center;
}

.conteiner__cart--item {
  height: 300px;
  background-color: #fff;
  border-top: none;
  justify-items: center;
  margin: auto;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 1px;
  align-items: center;
  border-bottom: 1px solid #5a5a5a;
}
.img__cart--item {
  height: 200px;
  width: 70%;
  object-fit: contain;
  border-radius: 5px;
}
.conteiner--title--img {
  display: flex;
  align-items: center;
}
.title__cart--item {
  text-align: center;
  width: 20%;
  margin: auto;
  margin-left: 15px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.precio__cart--item {
  margin-left: 25px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cantidad__cart--item {
  width: 30px;
}

.eliminar__cart--item {
  width: 50px;
  background-color: #fff;
  border: none;
  color: #fff;
  padding: 5px;
  font-size: 10px;
}

.total__carrito {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-color: #178017;
  margin-top: 10px;
  color: #fff;
}
.precioHTML {
  display: block;
}
.numCart_cant {
  position: absolute;
  text-align: center;
  background-color: red;
  font-size: 12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: -20px;
}
.button__comprarAddCart {
  width: 90px;
  height: 40px;
  text-align: center;

  text-decoration: none;
  background-color: #175e17;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: auto;
}

.button__comprarAddCart:active {
  opacity: 90%;
}
.button__comprarAddCart:hover {
  background-color: #43a243;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 110px;
  background-color: #313030;
  border-top: 1px solid #33ff80;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: none !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: none !important;
  --bs-btn-disabled-border-color: none !important;
}
.offcanvas-header {
  background-color: #175e17;
  padding: 25px !important;
}
.btn-close {
  color: #fff !important;
  --bs-btn-close-bg: none !important;
  font-size: 20px;
  margin: auto 0;
}
.offcanvas-title {
  text-align: center !important;
  font-size: 20px;
  margin: auto;
  color: #fff;
}

.offcanvas {
  --bs-offcanvas-width: 700px !important;
}
.titulos__carrito {
  height: 100px;
  background-color: #ffffff;
  border-top: none;
  justify-items: center;
  margin: auto;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 1px;
  align-items: center;
  border-bottom: 1px solid #178017;
  font-size: 20px;
}

.abrirMenu {
  width: 50px;
  height: 50px;
  margin: auto 10px;
  display: none;
  background-color: #0c0b0b;
  border: none;
}
.CerrarMenu {
  display: none;
  background-color: #0c0b0b;
  border: none;
  width: 30px;
  height: 30px;
  margin-top: 20px;

  color: #efecec;
  margin-right: 28px;
}

@media screen and (max-width: 1024px) {
  .header1 {
    display: flex;
    background-color: #0c0b0b;
    justify-content: space-between;
    z-index: 2;
  }
  .nav__log--img {
  
  width: 55px;
  height: 55px;
  margin-left: 20px;
  background-color: none;
  padding: 5px;
  }
.nav__button--input{
margin-bottom:20px;

margin:auto;
margin-left:0;

}

  .cerrarMenu {
    display: none !important;
    width: 50px;
    height: 50px;
  }
  .abrirMenu{
    display:block;
  }

 
  .nav1 {
    z-index: 2;
    display: none;
    flex-direction: column;
    background-color: #0c0b0b;
    margin: none;
    padding: 0;
    height: 100%;
    justify-content: center;
    justify-items: center;
  }

  .nav__divcont__ul {
    flex-direction: column;
    background-color: #0c0b0b;
    margin: none;
    padding: 0;
    justify-content: center;
    justify-items: center;
    
  }
.nav__divcont__ul__li {
margin-left: 0;
}
  .nav__button {
    background-color: #0c0b0b;
    width: 93%;
    padding: 2px;
    margin-bottom:10px;
  }

  .conteiner__cart--item {
    height: 300px;
    background-color: #fff;
    border-top: none;
    justify-items: center;
    margin: auto;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 1px;
    align-items: center;
    border-bottom: 1px solid #0c0b0b;
  }
  .img__cart--item {
    height: 100px;
    width: 70%;
    object-fit: contain;
    border-radius: 5px;
  }
  .btn-primary{
    padding: 0 !important;
  }

  .conteiner--title--img {
    display: flex;
    align-items: center;
  }
  .title__cart--item {
    text-align: center;
    width: 20%;
    margin: auto;
    margin-left: 15px;
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .precio__cart--item {
    margin-left: 25px;
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .cantidad__cart--item {
    width: 30px;
  }

  .eliminar__cart--item {
    width: 40px;
    background-color: #fff;
    border: none;
    color: #fff;
    padding: 5px;
    font-size: 10px;
  }

  .total__carrito {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: #178017;
    margin-top: 10px;
    color: #fff;
  }
  .precioHTML {
    display: block;
  }
  .numCart_cant {
    position: absolute;
    text-align: center;
    background-color: red;
    font-size: 12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: -9px;
  }

  .titulos__carrito {
    height: 100px;
    background-color: #ffffff;
    border-top: none;
    justify-items: center;
    margin: auto;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 1px;
    align-items: center;
    border-bottom: 1px solid #178017;
    font-size: 15px;
  }
}

@media screen and (min-width: 1025px) {
  .header1 {
    display: flex;
    background-color: #0c0b0b;
  }

  .nav1 {
    display: flex !important;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    height: 80px;
  }
  .abrirMenu {
    width: 50px;
    height: 50px;
    margin: auto 10px;
    display: none !important;
    background-color: #0c0b0b;
    border: none;
  }

  .CerrarMenu {
    display: none !important;
  }

  .nav1 {
    width: 100%;
    height: 80px;
    background-color: #0c0b0b;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .nav__divcont {
    padding: 10px;
    margin: auto 10px;
    width: 100%;
  }
  .nav__log--img {
    width: 90px;
    height: 80px;
    margin-left: 20px;
    background-color: none;
    padding: 5px;
  }
  .nav__divcont__ul {
    display: flex;
    justify-content: space-around;
  }
  .nav__divcont__ul__li {
    display: flex;
    text-align: center;
    margin: auto;
  }
  .nav__ul__li--home {
    margin: auto;
  }
  .nav__ul__li--a {
    margin: auto;
    padding: 6px;
    color: #fff;
    font-size: 20px;
  }

  .nav__button {
    display: block;

    display: flex;
  }

  .nav__divcont__ul__li {
    list-style: none;
  }
  .nav__ul__li--a {
    text-decoration: none;
  }

  .button__cart {
    background: none;
    border: none;
  }
  .nav__svg:hover {
    opacity: 70%;
  }
  .button__cart:active {
    opacity: 80%;
  }

  .cerrarMenu {
    display: none !important;
    width: 50px;
    height: 50px;
  }
}
